<div id="home" class= "big-bg">
<div class="home-content wrapper">
  <h2 class="page-title">We'll Make Your Day</h2>
  <p>お気に入りのカフェを共有しませんか?</p>
  <%= link_to "投稿一覧を見る", new_user_registration_path, class: "btn btn-info"%>
</div>
</div>
