@charset "UTF-8";

/* 共通部分 */
html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1100px;
  margin: 0px auto;
  padding: 0 4%;
}

.home-content {
  text-align: center;

  p {
    font-size: 1.125rem;
    margin: 120px 0 42px;
    color: white;
  }

  h2 {
    color:#fff

  }
}

.big-bg {
  background-image: image-url('cafe.png');
  height: 450px;
  background-repeat: no-repeat, repeat;
  text-align: center;
  background-size: cover;
  background-position: center top;
}
